## Read in JSON data 
(multiple simulations of $\theta_2$)

In [1]:
import sympy as sp
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import json

In [ ]:
# To access the data for a specific simulation and convert it to a DataFrame:
index_to_access = 180

`simple model`

In [3]:
# Load the data from the JSON file
with open('JSONdata/simple_data.json') as file:
    simulation_data_dict = json.load(file)

In [8]:
specific_simulation_data = simulation_data_dict[str(index_to_access)]  # keys will be in string format
specific_simple_df = pd.DataFrame(specific_simulation_data)

# Display the DataFrame for the specific simulation
print(f"Shape: {specific_simple_df.shape}")
specific_simple_df.head()

Shape: (48000, 8)

,theta1,theta2,omega1,omega2,x1,y1,x2,y2
0,0.000000e+00,-1.568612,0.000000,0.000000,0.000000e+00,-1.0,-0.999998,-1.002185
1,-3.372356e-08,-1.568581,-0.000027,0.024526,-3.372356e-08,-1.0,-0.999998,-1.002215
2,-1.377129e-07,-1.568489,-0.000057,0.049051,-1.377129e-07,-1.0,-0.999997,-1.002307
3,-3.204236e-07,-1.568336,-0.000091,0.073577,-3.204236e-07,-1.0,-0.999997,-1.002461
4,-5.959482e-07,-1.568121,-0.000131,0.098102,-5.959482e-07,-1.0,-0.999997,-1.002675

`compound model`

In [9]:
# Load the data from the JSON file
with open('JSONdata/compound_data.json') as file:
    simulation_data_dict_two = json.load(file)

In [10]:
specific_simulation_data_two = simulation_data_dict_two[str(index_to_access)]  # keys will be in string format
specific_compound_df = pd.DataFrame(specific_simulation_data_two)

# Display the DataFrame for the specific simulation
print(f"Shape: {specific_compound_df.shape}")
specific_compound_df.head()

Shape: (48000, 8)

,theta1,theta2,omega1,omega2,x1,y1,x2,y2
0,0.000000e+00,-1.568612,0.000000,0.000000,0.000000e+00,-1.0,-0.999998,-1.002185
1,-1.732621e-08,-1.568585,-0.000014,0.021022,-1.732621e-08,-1.0,-0.999998,-1.002211
2,-7.054687e-08,-1.568507,-0.000029,0.042044,-7.054687e-08,-1.0,-0.999997,-1.002290
3,-1.633876e-07,-1.568375,-0.000046,0.063065,-1.633876e-07,-1.0,-0.999997,-1.002421
4,-3.020575e-07,-1.568191,-0.000066,0.084087,-3.020575e-07,-1.0,-0.999997,-1.002605